*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colours */
  --dark-magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);

  /* Neutral colours */
  --dark-gray-magenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: Spartan, sans-serif;
  color: var(--dark-magenta);
  font-size: 15px;
  background-image: url(../images/bg-pattern-top-mobile.svg);
  background-origin: border-box;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

main {
  width: 84%;
  margin: 0 auto;
  padding-top: 6em;
  padding-bottom: 7em;
}


/* Headings */
h1 {
  /* Major third type scale from type-scale.com */
  font-size: 2.441em;
  line-height: 1em;
}

h2 {
  font-size: 1em;
  font-weight: 500;
  color: var(--dark-gray-magenta);
  margin-top: 1.441em;
  line-height: 1.563em;
  /* border: 1px solid red; */
  text-align: center;
}

/* Reviews */
.review {
  background-color: var(--light-gray-magenta);
  font-weight: 700;
  padding: 1em 0;
}

/* Add a top margin to all but the first review card */
.review:not(.review:first-child) {
  margin-top: 1.25em;
}

/* Add a margin to all but the first star */
.star:not(.star:first-child) {
  margin-left: 0.3em;
}

.review p {
  margin-top: 1em;
}

/* Add a margin to the top of the review and testimonial sections */
.reviews, .testimonials {
  margin-top: 3.052em;
}

.card {
  border-radius: 0.6em;
}

/* Testimonials */
.testimonial {
  background-color: var(--dark-magenta);
  color: var(--light-gray-magenta);
  font-size: 0.9em;
  font-weight: 400;
  padding: 3.052em 2.441em;
  line-height: 1.563em;
}

.testimonial  * {
  /* border: 1px solid yellow; */
}

.testimonial p {
  margin-top: 1.953em;
}

.testimonial:not(.testimonial:first-child) {
  margin-top: 1.563em;
}

.user-icon {
  width: 48px;
  border-radius: 50%;
  margin-right: 1.563em;
}

.user-name {
  font-weight: 700;
  position: relative;
  top: 0.35em;
}

.user-title {
  color: var(--pink);
  opacity: 0.7;
  position: relative;
  top: 0.35em;
}

/* Grid system */
.row, .user-header, .testimonials {
  /* modern 'clearfix' */
  display: flow-root;
}

.wrapper, .reviews {
  text-align: center;
}

.user-icon {
  float: left;
}

/* Media queries */
/* Desktop screen sizes */
@media only screen and (min-width: 768px) {
  main {
    /* width: 77%; */
  }

  .wrapper, .testimonial {
    float: left;
  }

  .reviews {
    float: right;
    width: 50%;
  }

  .wrapper {
    width: 50%;
  }

  .testimonial {
    width: calc(100% / 3);
  }
}
