.container {
  background-image: url("/images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 32px;
  display: grid;
  gap: 150px;
}

@media (min-width: 768px) {
  .container {
    background-image: url("/images/bg-header-desktop.png");
    padding: 0 165px;
  }
}
