.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 59px;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
