[submodule "huddle-landing-page-alternating-feature-blocks"]
	path = huddle-landing-page-alternating-feature-blocks
	url = https://github.com/chonginator/huddle-landing-page-alternating-feature-blocks.git
