.container {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  max-width: 730px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 16px;
}

.featureSectionBody {
  margin-top: 56px;
}

@media (min-width: 768px) {
  .fullBleedLayout {
    margin-left: -165px;
    margin-right: -165px;
  }
}

.singleColumnLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureImage {
  object-fit: contain;
}

@media (min-width: 768px) {
  .twoColumnLayout .featureImage {
    margin-left: -29px;
  }

  .singleColumnLayout .featureContainer {
    flex-direction: row;
  }
}

.singleColumnLayout {
  align-self: center;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.twoColumnLayout .featureContainer {
  margin-left: 0;
  margin-top: 56px;
}

@media (min-width: 768px) {
  .twoColumnLayout .featureContainer {
    margin-left: 7%;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
}

@media (min-width: 768px) {
  .twoColumnLayout .feature {
    align-items: flex-start;
  }
}

.featureDescription {
  margin-top: 8px;
}

.featureIcon {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .twoColumnLayout .featureTitle {
    text-align: left;
  }

  .twoColumnLayout .featureDescription {
    text-align: left;
  }

  .subtitle {
    font-size: 1.125rem;
  }
}
