.titleContainer {
  max-width: 730px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.875rem;
  }
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 1.25rem;
  }
}
