.iconButton {
  display: inline-block;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.iconButton:is(:focus, :hover) {
  color: var(--colour-strong-cyan-500);
}
