@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Bai Jamjuree", sans-serif;
  --colour-dark-grayish-blue: hsl(210, 10%, 33%);
}

body {
  font-family: var(--font-sans);
  color: var(--colour-dark-grayish-blue);
}

@layer components {
  .btn {
    @apply shadow-button-inner;
  }

  .btn-primary {
    @apply bg-strongCyan-500 text-white drop-shadow-strongCyan-xl active:bg-strongCyan-300;
  }

  .btn-secondary {
    @apply bg-lightBlue-500 text-white drop-shadow-black-xl active:bg-lightBlue-300;
  }
}
